inhalt{	
	position: relative;
    top: 100px;
    right: 10px;
    text-align: center;
	width: 80%;
	height: 40%;
	float: right;
	background: yellow url(img/mauer.png);
	overflow-x: hidden;
	overflow-y: visible;
	
}
.kalender{
	position: relative;
	font-family: arial;
	font-size: 15px;
	left: 10px;
	width: 250px;	
	height: 190px;
	float: left;
	background: #64b5f6;	
}