body { 
	background-color:#0080c0209055;
	font-family:Arial, sans-serif;
	font-size:14px;
}
.tg  {
	padding:10px 5px;
	border-collapse:collapse;
	border-spacing:6;
}
.tg td{
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

.tgg {
	border-collapse: collapse;
	border-spacing: 6;
	width: 350px;
	
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
.tgg th{
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
}