body {
    background: white url(img/background.jpg);
	font-family: arial;
	font-size: 15px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: white; 
}

header {	
	height: 90px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.header_hintergrund {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(img/wald.png);
    background-position: top left;
    z-index: 1;
    overflow: visible;
}
.logo {
	margin: auto;
	display: block;
	position: relative;
	z-index: 5;
}

nav{
	position: relative;
    top: 110px;
    left: 10px;
	width: 14%;	
	height: 870px;
	float: left;
	text-align: left;
	
	overflow-x: hidden;
	overflow-y: visible;
}
.kasten{
	background: gray;
	color: #fff;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
}
.kasten header{
	position: relative;
	text-align: center;
	height:auto;
}
.kasten div{
	position: relative;
	left: 10px;
}
a{
	color: white;
	text-decoration: none;
}

inhalt{	
	position: relative;
    top: 100px;
    text-align: center;
	width: 84%;
	float: right;
	margin: 5px;
	color: #fff;
	overflow-x: visible;
}
.pfeile{
	position: relative;
	width: 95%;
	left: 10px;
	right: 10px;
	height: 20px;
	color: #fff;
	background: #000040;
}
#pfeil_zurueck{
	position: relative;
	height: 100%;
	margin-left: 20px;
	float: left;
}
#pfeil_vor{
	position: relative;
	height: 100%;
	margin-right: 20px;
	float: right;
}

#kOverHead{	
	margin-top: 10px;
}
.abrund{
	background: green;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
}

#kalender{
	position: relative;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
	text-align: center;
	background: black url(img/Star-Wars_Clone.jpg);
	background-size: 100% 100%;
}
table{
	margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#kalender caption {
	font-size: 30px;
}
}
#kalender tbody {
	background-color: #28b2ff24;
	font-size: 15px;
}

.wochenende{
	background: #28f4ff4f;
}
.nacht{
	background-color: #00118045;
}
.morgen{
	background-color:#8c9b0054;
}
.mittag{
	background-color: #de6a0c45;
}

.nacht.wochenende {
	background: #006d8045
}
.morgen.wochenende{
	background-color:#2f9b0054;
}
.mittag.wochenende{
	background-color: #de300c45;
}

.heute{
	border-color: #fffb00f5;
	border-style:solid;
	border-width:1px;
}
.heute td {
	border-color: #fffb00f5;
	border-style:solid;
	border-width:1px;
}




.JA {	
	margin-top: 5px;
    width: 350px;
}

.JA,
.JA td,
.JA caption {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.4em;
	text-align: center;
	background: black;
}
.JA caption
{
	background: #666;
	color: #c4ced3;
	font-weight: bold;
}

.JA td.notinmonth{
	background: #666;
	color: ;
	font-weight: bold;
	}
.JA td.week{
	background: #899093;
	color: #c4ced3;
	font-weight: bold;
}
.JA td.holidayorweekend{
	background: #ebf5d7;
	color: #666;
}
.JA td.today {
	color: red;
	font-weight: bold;
	background: #ffebe6;
}


