body {
    background: aliceblue;
	font-family: arial;
	font-size: 15px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-color: black; 
}

header {	
	height: 90px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.header_hintergrund {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(img/10_Tansania_20131023_095720.jpg);
    background-size: 50% 100%;
    background-position: top left;
    z-index: 1;
    overflow: visible;
}
.logo {
	margin: auto;
	display: block;
	position: relative;
	z-index: 5;
}

nav{
	position: relative;
    top: 110px;
    left: 10px;
	width: 14%;
	float: left;
	text-align: left;
	color: black;
	
	overflow-x: hidden;
	overflow-y: visible;
}
.kasten{
	background: #CEF6CE;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
}
.kasten header{
	position: relative;
	text-align: center;
	height:auto;
}
.kasten div{
	position: relative;
	left: 10px;
}
a{
	color: black;
	text-decoration: none;
}

inhalt{	
	position: relative;
    top: 100px;
    text-align: center;
	width: 84%;
	float: right;
	margin: 5px;
	color: black;
	overflow-x: visible;
}
.pfeile{
	position: relative;
	width: 95%;
	left: 10px;
	right: 10px;
	height: 25px;
	background: #000040;
}
#pfeil_zurueck{
	position: relative;
	height: 100%;
	margin-left: 20px;
	float: left;
}
#pfeil_vor{
	position: relative;
	height: 100%;
	margin-right: 20px;
	float: right;
}

#kOverHead{	
	margin-top: 10px;
}
.abrund{
	background: green;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
}

#kalender{
	position: relative;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	background: black url(img/Natur/10_Tansania_20131014_133001.jpg);
	background-size: 100% 100%;
}
table{
	color:#fff;
	margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#kalender caption {
	font-size: 30px;
}
#kalender tbody {
	background-color: #28b2ff5c;
	font-size: 15px;
}
.thead{
	    background-color: #28b2ff5c;
}
.Tag::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Tag:hover {
  transform: scale(1.0, 1.3);	
}
.Tag:hover::after {
    opacity: 1;
}
.wochenende{
	background: #28f4ff4f;
}
.nacht{
	background-color: #00118045;
}
.morgen{
	background-color:#8c9b0054;
}
.mittag{
	background-color: #de6a0c45;
}

.nacht.wochenende {
	background: #006d8045
}
.morgen.wochenende{
	background-color:#2f9b0054;
}
.mittag.wochenende{
	background-color: #de300c45;
}

.heute{
	border-color: #fffb00f5;
	border-style:solid;
	border-width:1px;
}
.heute td {
	border-color: #fffb00f5;
	border-style:solid;
	border-width:1px;
}
.Termin{
	background-color: red;
}


.JA {
	margin: 5px;
    width: 350px;
}

.JA,
.JA td,
.JA caption {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.4em;
	text-align: center;
	background: #0947DC;
}
.JA caption {
	background: #666;
	color: #c4ced3;
	font-weight: bold;
}

.JA td.notinmonth{
	background: #ffffff;
	color: #c4ced3;
	font-weight: bold;
	}
.JA td.week{
	background: #899093;
	color: #c4ced3;
	font-weight: bold;
}
.JA td.holidayorweekend{
	background: #ebf5d7;
	color: #666;
}
.JA td.calendarday{
	background: #ffffff;
	color: rgb(0, 0, 0);
}
.JA td.today {
	color: red;
	font-weight: bold;
	background: #ffebe6;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


