body {
    background: aliceblue;
	font-family: arial;
	font-size: 18px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

header {	
	height: 90px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.header_hintergrund {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(img/banner.jpg);
    background-size: 100% 100%;
    background-position: top left;
    z-index: 1;
    overflow: visible;
}


nav{
	position: relative;
    top: 110px;
    left: 10px;
	width: 14%;
	float: left;
	text-align: left;
	color: black;
	
	overflow-x: hidden;
}
.kasten{
	background: #CEF6CE;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
    height: 330px;
    
}
.kasten header{
	position: relative;
	text-align: center;
	height: 10px;;
}
.kasten div{
	position: relative;
	left: 10px;
	height: 150px;
}

.Gruppe{
	background: #CEF6CE;;
	margin: 5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
}
.Gruppe header{
	position: relative;
	text-align: center;
	height:auto;
}
.Gruppe div{
	position: relative;
	left: 10px;
}


.Hintergrundkasten{
	background: #CEF6CE;;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
}
.Hintergrundkasten header {
	position: relative;
	text-align: center;
	height:auto;
}
.Hintergrundkasten div{
	position: relative;
	left: 10px;
}

.Inhaltskasten{
	background: #CEF6CE;;;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
}
.Inhaltskasten header {
	position: relative;
	text-align: center;
	height:auto;
}
.Inhaltskasten div{
	position: relative;
	left: 10px;
	height: 700px;
}

a{
	color: black;
	text-decoration: none;
}

inhalt{	
	position: relative;
    top: 100px;
    text-align: center;
	width: 84%;
	float: right;
	margin: 5px;
	color: #fff;
	overflow-x: visible;
}


#kOverHead{	
	margin-top: 10px;
}
.abrund{
	background: green;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
}

#kalender{
	position: relative;
	padding: 5px;
	width: 95%;
	border-width: 1px;
    border-radius: 10px;
	text-align: center;
	background: black url(img/Natur/10_Tansania_20131014_133001.jpg);
	background-size: 100% 100%;
}
table.Termine{
	margin-left: auto;
    margin-right: auto;
     border: 1px solid #1C6EA4;
  
  width: 98%;
  text-align: center;
  border-collapse: collapse;
}

table.Termine td {
	border: 1px solid #AAAAAA;
  	padding: 75px 20px;
	
}
table.Termine th {
	border: 1px solid #AAAAAA;
  	padding: 45px 20px;
	
}



