@charset "Utf-8";

.signup th{
	height: auto;
	font-size: 15px;
	
}
.signup{
	position:absolute;
	background: lightgray;
	color: black;
	float:left;
	margin:200px;
	margin-bottom: 2px;
	margin-left: 20px;
    border-width: px;
    border-radius: 10px;
    padding: 120px;
    padding-bottom:30px;
	  padding-left: 15px;
	  background-image: url("example.jpg");

	background-attachment: fixed;
	transform: scale(1.25);
	  
}
.Inhaltskasten header {
	position: relative;
	text-align: center;
	height:auto;
}

body {
	background-color: aliceblue;
	font-family: arial;
	font-size: 18px;
	width: 100%;
	margin-right: 100%;
	margin-left: 40%;
	color: black; 
}
	header {	
	height: 90px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.header_hintergrund {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(img/10_Tansania_20131023_095720.jpg);
    background-size: 50% 100%;
    background-position: top left;
    z-index: 1;
    overflow: visible;
}
.logo {
	margin: auto;
	display: block;
	position: relative;
	z-index: 5;                /* Hier gegebenenenfalls das Erstellte KalenderIcon platzieren statt Conan.
}

div {
background-image: url("example.jpg");
background-attachment: fixed;
transform: scale(1.25);
}
body {
height: 100%;
overflow: scroll;
}