body {
    background: white url(img/background.jpg);
	font-family: arial;
	font-size: 15px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

header {	
	height: 90px;
	width: 100%;
	text-align: center;
	z-index: 1000;
	position: relative;
}
.header_hintergrund {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white url(img/wald.png);
    background-position: top left;
    z-index: 1;
    overflow: visible;
}
.logo {
	margin: auto;
	display: block;
	position: relative;
	z-index: 5;
}

nav{
	position: relative;
    top: 110px;
    left: 10px;
	width: 14%;	
	height: 870px;
	float: left;
	text-align: left;
	
	overflow-x: hidden;
	overflow-y: visible;
}
.kasten{
	background: gray;
	color: #fff;
	margin:5px;
	margin-bottom: 10px;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:20px;
}
.kasten header{
	position: relative;
	text-align: center;
	height:auto;
}
.kasten div{
	position: relative;
	left: 10px;
}
a{
	color: #E8E8E8;
	text-decoration: none;
}

inhalt{	
	position: relative;
    top: 100px;
    text-align: center;
	width: 84%;
	float: right;
	margin: 5px;
	color: #fff;
	overflow-x: visible;
}
.pfeile{
	position: relative;
	width: 95%;
	left: 10px;
	right: 10px;
	height: 20px;
	color: #fff;
	background: #000040;
}
#pfeil_zurueck{
	position: relative;
	height: 100%;
	margin-left: 20px;
	float: left;
}
#pfeil_vor{
	position: relative;
	height: 100%;
	margin-right: 20px;
	float: right;
}

#kalender{
	position: relative;
	width: 95%;
	margin-top: 10px;
	text-align: center;
	background: black url(img/Star-Wars_Clone.jpg);
	background-size: 100% 100%;
}
#kalender caption {
	font-size: 30px;
}
.thead {
	background-color:#00008b87;
}
.wochenende{
	background: #28f4ff4f;
}
}
.heute{
	background: #de6a0c45;
}

.nacht{
	background-color: #00118045;
}
.morgen{ 
	background-color:#8c9b0054;
}
.mittag{
	background-color: #de6a0c45;
}

.nacht.wochenende {
	background: #006d8045
}
.morgen.wochenende{ 
	background-color:#2f9b0054;
}
.mittag.wochenende{
	background-color: #de300c45;
}
